# directories
__pycache__
media/Tex

media/images/crystal
media/images/freezeframes

media/videos
media/audio

media/Punktgruppen
media/Punktgruppen.mp4

build

# files
script.log
slides.log
slides.vrb
missfont.log
